Service References/WsSesion/WS_Sesion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Iniciar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Maquina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Terminal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="App" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarResult" type="tns:Sesion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sesion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Terminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idSession" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminarResult" type="tns:Sesion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechaHora">
        <s:complexType />
      </s:element>
      <s:element name="FechaHoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechaHoraResult" type="tns:Sesion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUsuarioResult" type="tns:ListaDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaDataSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_dataSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciarSoapIn">
    <wsdl:part name="parameters" element="tns:Iniciar" />
  </wsdl:message>
  <wsdl:message name="IniciarSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarResponse" />
  </wsdl:message>
  <wsdl:message name="TerminarSoapIn">
    <wsdl:part name="parameters" element="tns:Terminar" />
  </wsdl:message>
  <wsdl:message name="TerminarSoapOut">
    <wsdl:part name="parameters" element="tns:TerminarResponse" />
  </wsdl:message>
  <wsdl:message name="FechaHoraSoapIn">
    <wsdl:part name="parameters" element="tns:FechaHora" />
  </wsdl:message>
  <wsdl:message name="FechaHoraSoapOut">
    <wsdl:part name="parameters" element="tns:FechaHoraResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_SesionSoap">
    <wsdl:operation name="Iniciar">
      <wsdl:input message="tns:IniciarSoapIn" />
      <wsdl:output message="tns:IniciarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Terminar">
      <wsdl:input message="tns:TerminarSoapIn" />
      <wsdl:output message="tns:TerminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechaHora">
      <wsdl:input message="tns:FechaHoraSoapIn" />
      <wsdl:output message="tns:FechaHoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input message="tns:ObtenerUsuarioSoapIn" />
      <wsdl:output message="tns:ObtenerUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SesionSoap" type="tns:WS_SesionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Iniciar">
      <soap:operation soapAction="http://tempuri.org/Iniciar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terminar">
      <soap:operation soapAction="http://tempuri.org/Terminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaHora">
      <soap:operation soapAction="http://tempuri.org/FechaHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_SesionSoap12" type="tns:WS_SesionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Iniciar">
      <soap12:operation soapAction="http://tempuri.org/Iniciar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terminar">
      <soap12:operation soapAction="http://tempuri.org/Terminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaHora">
      <soap12:operation soapAction="http://tempuri.org/FechaHora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Sesion">
    <wsdl:port name="WS_SesionSoap" binding="tns:WS_SesionSoap">
      <soap:address location="http://localhost:47827/CUbigest2008/WS/WS_Sesion.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_SesionSoap12" binding="tns:WS_SesionSoap12">
      <soap12:address location="http://localhost:47827/CUbigest2008/WS/WS_Sesion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>