Service References/Px_GuiaTOSOL/XMLDocVtaExt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="www.informat.cl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://www.informat.cl/ws" xmlns:wsdlns="www.informat.cl" name="XMLDocVtaExt" targetNamespace="www.informat.cl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://192.168.1.192:8080/wstosol/servlet/HLP_PXMLDocVtaExt.htm</URL>
    <line> </line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="http://www.informat.cl/ws">
      <xsd:complexType name="SDT_ERRORES">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ERRORES_ERROR" type="tns1:SDT_ERRORES_ERROR" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ERRORES_ERROR">
        <xsd:all>
          <xsd:element name="NUMERROR" type="xsd:int" />
          <xsd:element name="DESCERROR" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="www.informat.cl">
      <xsd:import namespace="http://www.informat.cl/ws" />
      <xsd:element name="XMLDocVtaExt.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XMLDocVtaExt.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Xmlout" type="tns1:SDT_ERRORES" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="XMLDocVtaExt.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:XMLDocVtaExt.Execute" />
  </message>
  <message name="XMLDocVtaExt.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:XMLDocVtaExt.ExecuteResponse" />
  </message>
  <portType name="XMLDocVtaExtSoapPort">
    <operation name="Execute">
      <input message="wsdlns:XMLDocVtaExt.ExecuteSoapIn" />
      <output message="wsdlns:XMLDocVtaExt.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="XMLDocVtaExtSoapBinding" type="wsdlns:XMLDocVtaExtSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="www.informat.claction/AXMLDOCVTAEXT.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="XMLDocVtaExt">
    <port name="XMLDocVtaExtSoapPort" binding="wsdlns:XMLDocVtaExtSoapBinding">
      <soap:address location="http://192.168.1.192:8080/wstosol/servlet/axmldocvtaext" />
    </port>
  </service>
</definitions>